<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Last Call Events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="jumbotron.css"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body ng-app="app" ng-controller="home as home">
	<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
	<script type="text/javascript">
		angular
				.module("app", [])
				.config(
						function($httpProvider) {
							$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
						}).controller("home", function($http, $location) {
					var self = this;
					$http.get("/user").success(function(data) {
						self.user = data.userAuthentication.details.name;
						self.authenticated = true;
					}).error(function() {
						self.user = "N/A";
						self.authenticated = false;
					});
					self.logout = function() {
						$http.post('logout', {}).success(function() {
							self.authenticated = false;
							$location.path("/");
						}).error(function(data) {
							console.log("Logout failed")
							self.authenticated = false;
						});
					};
				});
	</script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Last Call</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" ng-show="!home.authenticated">
      		<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      		<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    	  </ul>
          <ul class="nav navbar-nav navbar-right" ng-show="home.authenticated">
      		<li><a href="/profile"><span ng-bind="home.user"></span></a></li>
   			<li><button ng-click="home.logout()"  ng-show="home.authenticated" class="btn btn-link">Logout</button></li>
    	  </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Last Call!</h1>
        <p>Last Call is your resource for finding last minute tickets to arts events. Not only will you find great new experiences, but you'll also enjoy huge discounts!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Upcoming Events <span class="badge">5</span></h2>
          <p>See upcoming events in your area. There's always something new, so check back often.</p>
          <p><a class="btn btn-default" href="/events" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Participating Organizations</h2>
          <p>Last Call partners with arts organizations to discover and promote new and interesting events. Find out which organizations are using Last Call. If you are an arts organization that would like to participate, we're always adding new groups and sign up couldn't be simpler.</p>
          <p><a class="btn btn-default" href="/organizations" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>The Team!</h2>
          <p>Find out more about the team that developed Last Call.</p>
          <p><a class="btn btn-default" href="/team" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr/>

      <footer><p>&copy; 2017 Vantiv</p></footer>
    </div> 
</body>
</html>