<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Last Call Participating Organizations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="jumbotron.css"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Last Call</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control"/>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

	<br/><br/><br/><br/><br/><br/>

	<div class="container">
	  <div class="row">
	    <div class="col-sm-6 col-md-5" th:each="Organization : ${organizations}">
	      <div class="thumbnail">
	        <img src="../static/images/MamLuft.png" />
	        <div class="caption">
              <h3 th:text="${venue.venueName}"></h3>
            </div>
          </div>
        </div>
      </div>
	  <div class="row">
	    <div class="col-sm-6 col-md-5">
	      <div class="thumbnail">
	        <img src="../static/images/NrityapanaSchoolofPerformingArts.png" />
	        <div class="caption">
              <h3 th:text="${venue.venueName}"></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
	    <div class="col-sm-6 col-md-5">
	      <div class="thumbnail">
	        <img src="../static/images/NrityapanaSchoolofPerformingArts.png" />
	        <div class="caption">
              <h3 th:text="${venue.venueName}"></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
	    <div class="col-sm-6 col-md-5">
	      <div class="thumbnail">
	        <img src="../static/images/NrityapanaSchoolofPerformingArts.png" />
	        <div class="caption">
              <h3 th:text="${venue.venueName}"></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    
	<hr/><br/>
    <div class="container">
      <footer><p>&copy; 2017 Vantiv</p></footer>
    </div> 
</body>
</html>